mat-toolbar-row, .mat-toolbar-single-row {
    height: 100px;
}

    .employeetxt{
        color: #82A70C;
        font-size: 22px;
        margin-left: 165%;
    }
    
    .payrolltxt{
        font-size: 22px;
        margin-left: 165%;
    }
    .mat-card{
        margin: auto;
        text-align: center;
    margin-top: 5%;
    FONT-SIZE: 20px;
    width: 79%;

    }

    .formHeader{
        font-size: 27px;
        text-align: left;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .mat-form-field-flex {
        padding-bottom: 0px;
        // display: inline-flex;
        // align-items: baseline;
        // box-sizing: border-box;
        // width: 100%;
        // margin-left: 59%;
    }


    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
      }

    //   .register {
    //     color: white;
    //     font-size: 16px;
    //     padding: 10px 0px;
    //     width: fit-content;
    //     transition: all 0.5s ease-in-out;
    //     border-radius: 8px;
    //     width: 100%;
    //     font-weight: 700;
    //     font-size: large;
    //     margin-left: 6%;
    
    // }

    // .button {
    //     margin: 8% 1% 0% 38%;}
    