mat-toolbar-row, .mat-toolbar-single-row {
    height: 100px;
}

    .employeetxt{
        color: #82A70C;
        font-size: 22px;
        margin-left: 165%;
    }
    
    .payrolltxt{
        font-size: 22px;
        margin-left: 165%;
    }
    .mat-card{
        margin: auto;
        text-align: center;
    margin-top: 5%;
    FONT-SIZE: 20px;
    width: 79%;

    }
