mat-toolbar-row, .mat-toolbar-single-row {
    height: 100px;
    background-color: #e6e6e6;
}

    .employeetxt{
        color: #82A70C;
        font-size: 22px;
       
    }
    
    .payrolltxt{
        font-size: 22px;
      
        color: #42515F;
    }
    .mat-card{
        margin: auto;
        text-align: center;
    margin-top: 2%;
    FONT-SIZE: 20px;
    width: 79%;
    background-color: #e6e6e6;

    }
